.stats {
    display: flex;
    list-style-type: none;
    background-color: #d4d1d1;
}

.thumb {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    align-items: center;
    border: 1px solid #aaa;
    width: 33.33%;
}

.label {
color: #6b6b6b;
font-weight: 500;
}

.quantity {
    font-weight: 700;
}